body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

h1, h2 {
    font: 100;
    font-size: 25px;
    margin: 0;
}

.login-box {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
}

.mode {
    display: inline-block;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.mode img {
    width: 50px;
    height: 50px;
}

.mode p {
    margin: 5px 0 0;
}


form {
    margin-top: 20px;
    width: 100%;
}

form input {
    width: calc(100% - 22px);
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background-color: #0056b3;
}

.forgot-btn {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    margin-top: 10px;
}

.forgot-btn:hover {
    text-decoration: underline;
}
